<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GameSaveManager2">

        <!-- 主界面Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GameSaveManager2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 数据库演示Activity -->
        <activity
            android:name=".DatabaseDemoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GameSaveManager2" />

        <!-- 表管理演示Activity -->
        <activity
            android:name=".TableManagementActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GameSaveManager2" />

        <!-- 数据导出演示Activity -->
        <activity
            android:name=".DataExportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GameSaveManager2" />

        <!-- 数据库优化Activity -->
        <activity
            android:name=".DatabaseOptimizationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GameSaveManager2" />

        <!-- 高级表管理Activity -->
        <activity
            android:name=".AdvancedTableManagementActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GameSaveManager2" />

    </application>

</manifest>